<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>shelf</title>
  </head>

  <body>
    <h2>Tag</h2>
    <ul>
      <li><a href="?q=linux" class="border border-blue-200 rounded">linux</a></li>
      <li><a href="?q=container" class="border border-blue-200 rounded">container</a></li>
    </ul>

    <h2>Shelf</h2>

    <div class="grid grid-cols-5">
      {{ range .Views }}
      <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg" src="data:image/jpeg;base64,{{- .Thumbnail}}" width="400px" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{- .Meta.Title}}</h5>
          </a>
          <a href="dir/{{- .FilePath}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- <iframe src="http://localhost:8020/static/pdfjs/web/viewer.html?file=http://localhost:8020/dir/20240310T170638_intel.pdf" width="100%" height="400px"></iframe> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  </body>
</html>
